body {
    background-size: cover;
    background-position: center;
}

.link {
     background: cyan;
     border-radius: 15px;
     width: 250px;
     margin-top: 20px;
     font-size: medium;
}

.link:hover{
    background-color: magenta;
    font-size: large;
    box-shadow: 5px 5px 5px lime;
}